<!DOCTYPE html>
<html>
<head>
	<title>talents</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style type="text/css">
	h1{
		text-align: center;
	}
</style>
<body class="container">
	<h1>Liste des talents</h1>
	<a class="btn btn-primary" href='/talents/new'>Ajouter un nouveau talent</a><hr>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>Nom</td>
				<td>Prenom</td>
			<tr>
		</thead>
		<tbody>
			<% for(var i=0; i<list.length; i++){ %>
				<tr>
					<td><%= list[i].prenom %> </td>
					<td><%=	list[i].nom %></td>
				</tr>
			<%}%>
		</tbody>
	</table>
</body>
</html>