<html>
<head>
    <title></title>
</head>
<body>
	<div>
		<a href="/talents">Liste des talents</a>
	</div>
    <form method="POST" action="/talents">
        <input type="text" name="nom" placeholder="nom">
        <input type="text" name="prenom" placeholder="prenom">
        <button type="submit">Valider</button>
    </form>
</body>
</html>